body { 
    text-align: center; 
    font-family: Arial, sans-serif; 
    background-color: #f9f9f9; 
}
#passwordScreen { 
    margin-top: 100px; 
}
#mainContent img, 
#mainContent video { 
    margin-top: 20px; 
    max-width: 80%; 
    border-radius: 10px; 
}
#mainContent audio { 
    margin-top: 20px; 
}